# Kopioi tämä tiedostoksi .env ja täytä omat tiedot.
# ÄLÄ kirjoita oikeaa salasanaa .env.example-tiedostoon.
# Kun .env tiedosto on valmis, älä pushaa sitä GitHubiin, se on henkilökohtainen.

DB_HOST=localhost
DB_PORT=3306
DB_NAME=flight_game
DB_USER=your_database_user
DB_PASSWORD=your_database_password
